<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Pronostico de Demanda</title>
</head>
<body class="min-h-screen text-[#213547]">
    <div class="modal w-full hidden absolute h-screen bg-black opacity-55">

    </div>
    <div class="w-[80%] mx-auto space-y-10">
        <div class="flex items-center justify-center h-full">
            <header class="text-center">
                <h1 class="text-[45px] lg:text-[50px] font-extrabold font-[Inter]">
                    Metodo <br> 
                    <span class="text-transparent bg-clip-text bg-gradient-to-r from-red-500 via-orange-500 to-yellow-500">
                        {{method}}
                    </span>
                </h1>
            </header>
        </div>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block script %}
    {% endblock %}
</html>